<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GalleryDatabase" providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
          AttachDbFilename=C:\USERS\JONO\DOCUMENTS\NMIT WORK\GALLERY_DATA17\GALLERY_DATA.MDF\Gallery_Data.mdf; 
          Database=GALLERY_DATA.MDF"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
